<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><% @figures.each do |figure| %>
      <a href="/figures/<%=figure.id%>"><%= figure.name%> </a>
    <% end %></p>
  </body>
</html>
